[Unit]
Description=The redis-server Process Manager
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/home/hadoop/redis/src/redis-sentinel /home/hadoop/redis/sentinel.conf
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -SIGINT $MAINPID
User=hadoop
Group=hadoop
SyslogIdentifier=hadoop

[Install]
WantedBy=multi-user.target
